/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */ html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

/* Fonts */
@font-face {
    font-family: 'pier_sanslight';
    src: url('../fonts/pier-sans/piersans-light-webfont.woff2') format('woff2'),
         url('../fonts/pier-sans/piersans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pier_sansregular';
    src: url('../fonts/pier-sans/piersans-regular-webfont.woff2') format('woff2'),
         url('../fonts/pier-sans/piersans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pier_sansmedium';
    src: url('../fonts/pier-sans/piersans-medium-webfont.woff2') format('woff2'),
         url('../fonts/pier-sans/piersans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pier_sansbold';
    src: url('../fonts/pier-sans/piersans-bold-webfont.woff2') format('woff2'),
         url('../fonts/pier-sans/piersans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pier_sansblack';
    src: url('../fonts/pier-sans/piersans-black-webfont.woff2') format('woff2'),
         url('../fonts/pier-sans/piersans-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{box-sizing: border-box;}

body{background-color: #141414; font-family: 'pier_sansregular'; color:white; font-size: 14px;}/*closes body*/

header{display: flex; flex-direction: row; justify-content: flex-start; align-items: center; width: 100%; height: 65px; padding: 0 60px; background-color: transparent; position: fixed; top:0; left: 0;}

header a.header-logo .logo { display: block; width: 92px; height: 55px; background: url('../images/netflix-logo.svg') no-repeat center center; background-size: contain; will-change: transform; transition: .25s ease-in-out;}

header ul.nav-links{ display: flex; flex-direction: row; justify-content: flex-start; align-items: center; margin-left: 20px;}

header ul.nav-links li a {color: white; font-size: 14px; padding:0 8px; text-decoration: none;}

header .secondary-links-container{display: flex; flex-direction: row; justify-content: flex-end; margin: 0 0 0 auto;}

header .secondary-links-container ul.secondary-links{display: flex; flex-direction: row; justify-content: flex-start; align-items: center; }

header ul.secondary-links li a {color: white; font-size: 14px; padding: 0 8px; text-decoration: none; text-transform: uppercase;}

header a.header-logo .logo:hover{transform: scale(1.2);}

header .secondary-links-container i.search-icon{margin-right: 10px;}

header .secondary-links-container i.notifications-icon{margin-left: 10px;}

main{width: 100; 
    max-width: 1200px;
     height: auto; margin: 0 auto;}

.profiles-selection-container{display: flex; flex-direction: column;justify-content: center; align-items: center; width: 100%; min-height: calc(100vh - 65px); }

.profiles-selection-container h1 {font-family: 'pier_sansregular'; font-size: 52px; text-align: center;}

.profiles-selection-row {display: flex; flex-direction: row;  justify-content: center; align-items: center; flex-wrap: wrap;margin: 65px 0;}

.profile-container {display: flex; flex-direction: column; justify-content: flex-start; align-items: center; flex: 1; margin: 10px 20px;}

.featured-section{width: 100%; height: 0; padding-bottom: 56.25%; overflow: hidden; position: relative;} /*Hint: for Netflix thumbnails. 16 by 9 is the aspect ratio. 16/9=56.25*/

.featured-section:after{content:''; width: 100%; height: 125px; position: absolute; bottom: 0; left: 0; z-index: 10; background: linear-gradient(to top, #141414, transparent);}

.featured-section video {width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: -1;}

.profile-pic {display: block; width: 150px; height: 150px; border: 5px solid #808080; transition: .25s ease-in-out;}

a.profiles-button {display: flex; min-width: 250px; min-height: 40px;border: 1px solid #808080; transition: .25s ease-in-out; text-align: center; height: 50px; justify-content: center; align-items: center; font-family: 'pier_sansregular'; font-size: 16px; text-transform: uppercase; letter-spacing: 3.5px;} 

a.profiles-button:hover {will-change: transform; transition: .25s ease-in-out; border-color: white;}

.profile-container h3 {text-align: center; font-family: 'pier_sansregular'; font-size: 16px;}

.profile-container:hover .profile-pic{border-color: white;}

.featured-section-content{position: relative;}

.new-release-container h2 .my-list-container h2 .trending h2{display: flex; text-align: left; font-family: 'pier_sansmedium'; font-size: 21px; font-weight: 400; line-height: 21px; padding-bottom: 10px;}

.new-release-container .my-list-container .trending-container{width: 100%; flex-direction: row; align-items: flex-end; padding-left: 15px}

.new-release-row .my-list-row .trending-row {width: 80%;}


.list-item {width:calc((100% - 30px) / 6); height: auto; border: 1px solid black;}
.list-item:hover{transform: scale(1.75); transition: .25s ease-in-out;}
.list-item:first-of-type:hover{transform-origin: center left;}
.list-item:last-of-type:hover{transform-origin: center right;}

.playButton{align-items: center;}

.featured-action-buttons{display: flex; align-items: center;}